header h1 {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 85px;
}
body{
    padding-top: 20px;
}
body, html {
    margin: 0%;
    padding: 0%;
    padding-top: 6px;
}
header {
    height: 90px;
    background-color: #919191;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
ul#menu {
    display: flex;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    justify-content: flex-end;
    padding-right: 0px;
   
}
ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 85px;
    padding-right: 85px;
}
section {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.left {
    max-width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 85px;
    padding-right: 85px;
}
div.right {
    max-width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 85px;
    padding-top: 140px;
}
p, li.menu {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    padding-right: 85px;
}
h1{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
h2{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.menu {
    font-size: 20px ;
    width: fit-content;
    margin: 15px auto;
    padding-left: 85px;
    padding-right: 85px;
}
li.menu {
    margin-bottom: 35px;
}
.ds {
    display: flex;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    height: 719px;
}
.cf {
    padding-left: 85px;
    padding-right: 85px;
}
.vasya {
    padding: 0;
    margin-top: 5px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    padding-right: 85px;
}
.ds {
    width: 100%;

}
.oo {
    height: 719px;
    padding-top: 5px;
}
