@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body { 
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}
.block img {
    width: 518px;
}
footer img {
    width: 68px;
}
h1 {
    width: fit-content;
    margin: auto;
    font-size: 64px;
    max-width: 918px;
    text-align: center;
  
}
.grt {
    display: flex;
    flex-direction:row;
    justify-content: center; 
    align-items: center;
    
}
.dor {
    display: block;
    list-style-type: disc;
    margin-top: 4px;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size:37px;
}
.jwl {
    max-width:518px;
    margin-right: 14%;

}
.rpg {
    font-size:48px;
    margin-bottom: 70px;
}
.grn {
    font-size:37px;
}
.kdg {
    display: flex;
    flex-direction:column;
}
.ytg {
    color: black;
    font-size: 36px;
    max-width: 418px;
}
.ytl {
    color: black;
    font-size: 20px;
    font-style: italic;
    max-width: 386px;
}

.uik {
    background-color: #D03844;
    color: white;
    font-size: 48px;
    max-width: 379px;
    border-radius: 30px;
    height: 90px;
}
.thk {
    color: #CECECE;
    background-color: #B4B4B4;
    font-style: italic;
    width: 505px;
    height: 325px;
    align-items: center;
    border-radius: 20px;
    margin: auto;
}
.sis {
    background-color: white;
    font-size: 24px;
    max-width: 427px;
    border-radius: 10px;
    height: 50px;
    margin: auto;
}
h2 {
    font-size: 64px;
}
.fgt {
    display: flex;
    flex-direction:row;
    background-color: #D9D9D9;
    justify-content: center; 
    max-width: 1143px;
    height: 547px;
    border-radius: 40px;
    margin: auto;
}
.dpt {
    color: #000000;
    background-color: white;
    font-size: 24px;
    max-width: 427px;
    border-radius: 10px;
    height: 50px;
    margin: auto;
    
}
.ftu {
    color: #CECECE;
}
.chk {
    color: #000000;
}
footer {
    display: flex;
    flex-direction:row;
}
.gvn {
    font-style: italic;
    font-size: 24px;
}
.zhp {
    font-size: 26px;
}
.kal {
    font-size: 26px;
}
.ppp {
    color: #808080;
}
.hit {
    max-width: 503px;
}
.urk {
    max-width: 538px;
}
.ikl {
    max-width: 543px;
    margin-left: 10%;

}